{% extends 'base.html.twig' %}

{% block body %}
  <h1 class="content__title">Partir en voyage</h1>

  <section class="slider">
    <button class="btn slider__btn" id="previous-button" type="button" aria-label="Précédent">&lt;</button>
    <button class="btn slider__btn" id="next-button" type="button" aria-label="Suivant">&gt;</button>
  </section>

  <section class="segment">
    <h2 class="segment__title">Destinations</h2>
    <div class="cards">
      {% for currentTrip in tripList %}
      <article class="card">
        <div class="card__content">
          <span class="card__rating">{{ commentHelper.calculateRating(currentTrip.comments) }}/5</span>
          <img class="card__image" src="{{ currentTrip.img }}" alt="">
          <h3 class="card__title">{{ currentTrip.name }}</h3>
          <p class="card__desc">{{ currentTrip.description }}</p>
        </div>
        <div class="card__action">
          <button class="btn btn__like" type="button" aria-label="J'aime"><i class="icon-heart"></i></button> 
          <a class="btn" href="{{ path('app_trip_read', { id: currentTrip.id } ) }}">Découvrir</a>
        </div>
      </article>
      {% endfor %}
    </div>
  </section>

{% endblock %}